<div class="container_fluid">
  <div class="row py-2">
    <p class="col-2 p-3 text-center border mb-0 bg-light">Bestellnummer</p>
    <p class="col-2 p-3 text-center border mb-0 bg-light">Status</p>
    <p class="col-2 p-3 text-center border mb-0 bg-light">Nettopreis</p>
    <p class="col-2 p-3 text-center border mb-0 bg-light">Steuern</p>
    <p class="col-2 p-3 text-center border mb-0 bg-light">Bruttopreis</p>
    <p class="col-2 p-3 text-center border mb-0 bg-light">Kommentar</p>
  </div>
  <div class="row py-2" *ngFor="let order of orders">
    <p class="col-2 p-3 text-center border mb-0">{{order.id}}</p>
    <div class="col-2 p-3 text-center border mb-0">
      <p *ngIf="order.states.length > 0;"> {{getOrderStatus(order.states[order.states.length -1 ].status) }}</p>
    </div>
    <p class="col-2 p-3 text-center border mb-0">{{order.total_price}}</p>
    <p class="col-2 p-3 text-center border mb-0">{{order.vat}}</p>
    <p class="col-2 p-3 text-center border mb-0">{{totalPrice(order.total_price, order.vat)}}</p>
    <div class="col-2 p-3 text-center border mb-0">
      <p *ngIf="order.states.length > 0">{{order.states[order.states.length -1 ].comment}}</p>
    </div>
    <div class="col-12 border">
      <div *ngFor="let book of order.books">
        <div>{{book.title}}</div>
        <div>{{book.price}}</div>
      </div>
    </div>
  </div>
</div>